html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
  text-rendering: optimizeLegibility;
  color: $muted;
  font-weight: 400;
  font-size: 18px;
  background: #fff;
  font-family: "Bitter", serif;
  line-height: 1.7;
}

//Main link styling
a {
  color: $blue;

  &:hover {
    color: $dark-blue;
  }
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}


.blue-text {
  color: $dark-blue;
}

.shadow-bottom {
  background: linear-gradient(transparent, 99%, hsla(0, 0%, 0%, 0.1)),
    $grey 100%;
}

.mouse-container {
  display: none;

  @media (min-width: 992px) {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

.mouse {
  width: 20px;
  height: 34px;
  border-radius: 15px;
  border: 1px solid #000;
  animation: intro 1s;
}

.scroll-icon {
  display: block;
  width: 3px;
  height: 3px;
  margin: 6px auto;
  border-radius: 4px;
  background: #000;
  animation: scroll-animation 1s infinite;
}

@keyframes scroll-animation {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(22px);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
