html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    text-rendering: optimizeLegibility;
    color: $black;
    font-weight: 400;
    font-size: 18px;
    background: #fff;
    font-family: 'Bitter', serif;
    line-height: 1.7;
}