html {
    min-height: 100%;
    min-height: 100vh;
}

body {
    min-height: 100%;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    color: $black;
    font-weight: 400;
    font-size: 18px;
    background: #fff;
    font-family: 'Bitter', serif;
    line-height: 1.7;
}